body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3, h4 {
  color: #222;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;

}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

.section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Alternating Backgrounds */
.section-white {
  background-color: #FFFFFF;
}

.section-grey {
  background-color: #e5e5e5;
}

.section-dark_grey {
  background-color: #C4C4C4;
}

/* Container Wrapper */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.center-heading {
  text-align: center;
}