body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;

  background-image: url('/Background.jpg'); 
  background-repeat: repeat;                    
  background-size: auto;                        
  background-position: center;       
}

footer {
  margin-top: 120px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.footer-icons {
  display: flex;
  justify-content: center; 
  align-items: center;      
  gap: 25px;               
  padding-bottom: 10px;
}

.footer-icons img {
  width: 35px;             
  height: 35px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

h1, h2, h3, h4 {
  color: #222;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;

}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

.section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Alternating Backgrounds */
.section-white {
  background-color: #FFFFFF;
}

.section-grey {
  background-color: #e5e5e5;
}

.section-dark_grey {
  background-color: #C4C4C4;
}

/* Container Wrapper */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.center-heading {
  text-align: center;
}

.skills-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.skill-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 250px;
  text-align: left;
}

.skill-box h3 {
  margin-top: 0;
  color: #333;
}

.skill-box ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0 0 0;
}

.skills-tight {
  padding-top: 5px;
}
